@import "bootstrap";

a {
  color: white;
}

ul.right {
  text-align: right;
  padding-right: 50px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

nav.top-bar {
  background-color: #3F3F3F;
}

div.mapboxgl-popup-content {
  padding: 1px;
}

button.geocoder-icon.geocoder-icon-close {
  visibility: hidden
}

input {
width: 360px;
}

ul.suggestions {
  background-color: white;
  list-style: none;
  width: 360px
}

.mapboxgl-map{
  margin: 0px auto;
  margin-bottom: 60px;
}

.categories {
  margin-top: 10px;
  background-color: #F2F1F6
}

.card-deck {
  margin-top: 20px;
  margin-left: 20px;
  height: 400px;
}

.well {
  height: 325px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 150%;
  max-width: 100%;
}

.box{
    overflow-x:auto;
}

 body {
  position: relative;
  background-color: #FAF9FB;
  font-family: 'Lobster', cursive;
}

.list-group {
  margin-top: 0px;
  max-height:400px;
  overflow-y:auto;
  width:150%;
  background-color: #F2F1F6;
  padding-top: 20px;
}

#newphotolink {
  color: black;
}

.showtileimg{
  height: 490px;
  width: auto;
  padding: 7px;
  background-color: #F2F1F6;
}

.showtile {
  font-family: 'Khula', sans-serif;
  height: 490px;
  width: auto;

}

.card-body.show {
  font-family: 'Khula', sans-serif;
  text-align: left;
  margin-bottom: 20px;
  width: auto;
}

.page{
  border-style: solid;
  border-width: 10px;
  border-color: #F2F1F6;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 100px;
  background-color: #F2F1F6;
}

.off{
  font-size: 20px;

}
.on{
  background-color: #F0DDEA;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:20px;
  padding-right:20px;
  border-width: 1px;
  border-radius: 3px;
  color: white;
  font-size: 20px;
}

.card-text{
  font-family: 'Khula', sans-serif;
}

.titlehead{
  font-size: 36px;
}

.card.img.top{
  border-style: solid;
  border-width: 1px;
  border-color: #CFCEDE;
}

.new_photo{
  font-family: 'Khula', sans-serif;
  padding: 40px
}

.form-group{
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Khula', sans-serif;
}

.form_button {
  background-color: #9EACC3;
}

.commentcontainer{
  margin-top: 20px;
  margin-left: 100px;
}

.comments{
  font-family: 'Khula', sans-serif;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 2px;
  padding: 5px;
  width: 800px;
  height: auto;
  margin-bottom: 5px;
  font-size: 16px;
}

.comment-title{
  font-size: 30px;
}

.commentform{
  margin-top: 50px;
}

.description {
  font-size: 18px;
  font-family: 'Khula', sans-serif;
}
.cat {
  font-size: 14px;
  font-family: 'Khula', sans-serif;
}

.date{
  font-size: 14px;
  font-family: 'Khula', sans-serif;
}

.commentdate{
  text-align: right;
  font-size: 14px;
}

.cardwhole {
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: white;
  margin-left: 10px;
  border-radius: 2px;
}
